@import "./modules-scss/variables";
@import "./modules-scss/header";
@import "./modules-scss/containers";
@import "./modules-scss/footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $very-dark-blue;
    font-size: $font-size;
    font-family: $font;
    /*Color top 2c3e50*/
    /*Color inner Block 95a5a6 or 7f8c8d*/
}

.active{
    position: fixed;
    left: 0;
    right: 0;
    width: 90% !important;
    height: 90vh !important;
}