/*##Colors*/


/*### Neutral*/

$very-dark-blue: #34495e;
$frame-dark-blue: #2c3e50;

$inner-block-color : #c1d3d4;
/*## Typography*/

/*### Body*/

$font-size: 20px;

/*### Font*/

$font: 'Open Sans', sans-serif;

$font-w-normal:400;
$font-w-light:300;

